@media print {
  select, .invis, .next, .back, .barcode {
    display: none;
  }
}

@page {
  margin: 0;
  size: A4;
}

body {
  margin-left: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

.spacer {
  height: .8cm;
}

select {
  font-size: 30px;
}

.label {
  height: 21cm;
  width: 31cm;
  border: 1.5px solid black;
  margin: 0;
}

.label img {
  max-width: 100%;
  max-height: 100%;
}

.left {
  width: 10cm;
  float: left;
  padding-left: 1cm;
}

.right {
  text-align: left;
  width: 9cm;
  float: right;
  justify-content: left;
  padding-right: 1cm;
}

.brandImgBox {
  height: 3cm;
}

.articleCategoryTxtBox {
  font-size: 90px;
  text-wrap: stable;
  margin-bottom: 20px;
  font-weight: normal;
}

.articleNameTxtBox {
  font-size: 70px;
  text-wrap: stable;
  margin-bottom: 0px;
}

.venderArticleTxtBox {
  font-size: 50px;
  text-wrap: stable;
  margin-bottom: 20px;
  font-weight: normal;
}

.articleColourTxtBox {
  font-size: 50px;
  text-wrap: stable;
  margin-bottom: 0px;
  font-weight: normal;
}

.articlePluTxtBox {
  font-size: 130px;
  text-wrap: stable;
  margin-bottom: 0px;
  font-weight: bold;
}

.photoImgBox {
  height: 8cm; 
  width: 100%;
}