@media print {
  select, .invis, .next, .back, .barcode {
    display: none;
  }
}

@page {
  margin: 0;
  size: A4;
}

body {
  margin-left: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

.spacer {
  height: 0.5cm;
}

select {
  font-size: 30px;
}

.label {
  height: 20.75cm;
  width: 30cm;
  border: 1.5px solid black;
  margin: 0;
}

.label img {
  max-width: 100%;
}

.left {
  width: 10cm;
  float: left;
  padding-left: 1cm;
}

.right {
  text-align: left;
  width: 16cm;
  padding-left: 1cm;
  justify-content: left;
  padding-right: 1cm;
  float: right;
}

.brandImgBox {
  height: 3cm;
}

.articleCategoryTxtBox {
  font-size: 70px;
  text-wrap: stable;
  margin-bottom: 20px;
  font-weight: normal;
}

.articleNameTxtBox {
  font-size: 60px;
  text-wrap: stable;
  margin-bottom: 0px;
font-weight: bold;
}

.venderArticleTxtBox {
  font-size: 60px;
  text-wrap: stable;
  margin-bottom: 20px;
  font-weight: normal;
}

.articleColourTxtBox {
  font-size: 50px;
  text-wrap: stable;
  margin-bottom: 0px;
  font-weight: normal;
}

.articlePluTxtBox {
  font-size: 160px;
  text-wrap: stable;
  margin-bottom: 0px;
  font-weight: bold;
}

.photoImgBox {
  height: 11cm; 
  width: 100%;
}

.typeImgBox {
  height: 16cm;
}
